.stats-card {
  display: flex;
  flex-direction: row;
  width: 24%;
  background-color: #000c66;
  color: white;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 10px;
}
.stats {
  display: flex;
  flex-direction: column;
}
