header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 100px;
  align-items: center;
}
header .user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  margin-right: 10rem;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
header h1 {
  color: white;
}
.branding {
  margin-left: 18rem;
}

.form {
  box-shadow: 0px 1px 8px 2px;
  width: 40%;
  margin: 0 auto;
  height: max-content;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.form h1 {
  text-align: center;
}
.form h2 {
  text-align: center;
  color: red;
}
.child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
}
.child label {
  width: 30%;
}
.child input {
  width: 70%;
  height: 30px;
}
form button {
  background-color: blue;
  color: white;
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 10px;
}
form a {
  text-decoration: none;
  color: blue;
}

@media only screen and (max-width: 580px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .branding {
    margin-left: 5px;
  }
  header .user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 5px;
    font-size: 25px;
  }
  header h1 {
    font-size: 28px;
  }
  .form {
    width: 90%;
  }
  header a {
    font-size: 25px;
  }
}
