.container {
  display: flex;
  margin-top: 0px;
}

.main {
  flex: 4;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 10px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
  border-radius: 10px;
}
nav a {
  text-decoration: none;
  color: white;
}
nav h1 {
  color: rgba(255, 255, 255, 0.89);
  font-size: 35px;
}
