.table-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000c66;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  margin: 0rem 1rem 1rem 1rem;
  padding: 1rem;
}
.table-data td {
  margin: 0px 1rem 0px 1rem;
  width: 20%;
  text-align: center;
}
