.box-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.nav {
  flex: 1;
  height: min-content;
  position: sticky;
  border-radius: 0.7rem;
  background-color: #7ec8e3;
  height: 50vh;
}

.nav-items {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.nav-item {
  margin: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
