.box-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.nav {
  top: 0;
  flex: 0.5;
  height: min-content;
  position: sticky;
  border-radius: 0.7rem;
  background-color: #000c66;
  height: 100vh;
}

.nav-items {
  display: flex;
  flex-direction: column;
}
.nav-item {
  margin: 1rem;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.main-page {
  flex: 4;
}
