.box-container {
  display: flex;
  flex-direction: row;
}
.nav {
  flex: 1;
  height: min-content;
  background-color: rgb(226, 226, 231);
  position: sticky;
  border-radius: 5px;
  margin-top: 10px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.nav-item {
  margin: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
