header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 100px;
  align-items: center;
}
header .user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  margin-right: 10rem;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
header h1 {
  color: white;
}
.branding {
  margin-left: 18rem;
}
