.tasks {
  flex: 4;
  margin-left: 1rem;
  margin-top: 10px;
}
.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.add-task-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blue;
  color: white;
  border-radius: 0.8rem;
  width: 10vw;
  height: 5vh;
}
.stats-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table {
  width: 100%;
  margin-top: 2rem;
}
.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 1rem 0px 1rem;
}
.table-header td {
  width: max-content;
}
